# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Mac OS
.DS_Store

# Python notebooks
.ipynb_checkpoints

# Database files
instance/
*.db
*.sqlite3

# Logs
*.log

# Model weights, artifacts, binaries
Fracture_XGBoost
TB_XGBoost

# SSL certificates
*.pem
*.crt
certificates/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Extra
uploads/

